Source: pygments
Section: python
Priority: optional
Maintainer: Piotr Ożarowski <piotr@debian.org>
Uploaders: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Build-Depends: debhelper (>= 5), quilt (>=0.40)
Build-Depends-Indep: python (>= 2.3.5-11), python-all-dev, python-support (>= 0.6.4),
 python-setuptools (>= 0.6b3), python-docutils, python-jinja (>= 1.0)
Standards-Version: 3.8.0
Homepage: http://pygments.pocoo.org/
XS-Python-Version: >= 2.3
Vcs-Svn: svn://svn.debian.org/python-modules/packages/pygments/trunk/
Vcs-Browser: http://svn.debian.org/wsvn/python-modules/packages/pygments/trunk/?op=log

Package: python-pygments
Architecture: all
Depends: ${python:Depends}
Recommends: python-chardet, python-pkg-resources
XB-Python-Version: ${python:Versions}
Description: syntax highlighting package written in Python
 Pygments aims to be a generic syntax highlighter for general use in all kinds
 of software such as forum systems, wikis or other applications that need to
 prettify source code.
 .
 Highlights are:
   * a wide range of common languages and markup formats is supported
   * special attention is paid to details, increasing quality by a fair amount
   * support for new languages and formats are added easily
   * a number of output formats, presently HTML, LaTeX and ANSI sequences
   * it is usable as a command-line tool and as a library
   * ... and it highlights even Brainfuck!
