#!/usr/bin/make -f

#export DH_VERBOSE=1

PYVERS ?= $(shell pyversions -vr)

include /usr/share/quilt/quilt.make

clean: unpatch
	dh_testdir
	dh_testroot
	rm -rf build Pygments.egg-info
	find . -name "*\.py[co]" -delete
	dh_clean build-indep $(PYVERS:%=install-python%)

build: patch build-indep

build-indep:
	dh_testdir
	dh_installdirs
	PYTHONPATH='.' python docs/generate.py html debian/python-pygments/usr/share/doc/python-pygments/
	touch $@

install: build $(PYVERS:%=install-python%)
install-python%:
	python$* setup.py install --single-version-externally-managed \
		--root debian/python-pygments
	touch $@

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs -i CHANGES
	dh_installexamples -i
	dh_installdocs -i
	dh_installman -i
	dh_install -i debian/pygmentize /usr/bin/
	dh_pysupport -i
	dh_compress -i -X.py
	dh_fixperms -i
	dh_installdeb -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i -- -Z bzip2

binary-arch:

binary: binary-indep binary-arch

.PHONY: build clean binary-indep binary-arch binary install
